<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mama Marketplace Password Reset</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #f4f4f4;
            color: #333333;
        }
        .email-wrapper {
            max-width: 600px;
            margin: 20px auto;
            background-color: #ffffff;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
        .email-header {
            background-color: #ffa7b3;
            padding: 30px 24px;
            text-align: center;
        }
        .email-body {
            padding: 30px 24px;
            background-color: #ffffff;
        }
        .email-footer {
            background-color: #f6f6f6;
            padding: 20px 24px;
            text-align: center;
            font-size: 14px;
            color: #666666;
        }
        h1 {
            color: #ffffff;
            font-size: 28px;
            margin: 0;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        }
        h2 {
            font-size: 24px;
            color: #ffa7b3;
            text-align: center;
            margin: 20px 0;
        }
        p {
            margin-top: 0;
            margin-bottom: 20px;
        }
        .reset-code {
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            color: #ffa7b3;
            letter-spacing: 5px;
            margin: 30px 0;
            padding: 15px;
            background-color: #FFF5F8;
            border-radius: 8px;
        }
       
        a {
            color: #ffa7b3;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="email-wrapper">
        <!-- <div class="email-header">
            <h1>Mama Marketplace Password Reset</h1>
        </div>
        <div class="email-body">
            <p>Hello <%= user.name %>,</p>
            <p>We received a request to reset your password for your Mama Marketplace account. To proceed with the password reset, please use the following code:</p>
            <div class="reset-code"><%= activationCode %></div>
            <p>Please enter this code on the password reset page within the next 10 minutes to set a new password.</p>
            <p>If you didn't request a password reset, please ignore this email or contact our support team immediately if you believe your account may be compromised.</p>
            <p>For your security, please do not share this code with anyone.</p>
        </div>
        <div class="email-footer">
            <p>If you have any questions or need assistance, please don't hesitate to contact our support team at <a href="mailto:support@mamamarketplace.com">support@mamamarketplace.com</a></p>
            <p>&copy; 2024 Mama Marketplace. All rights reserved.</p>
        </div> -->
        <div class="email-header">
            <h1>Mama Marketplace - Passwort Zurücksetzen</h1>
        </div>
        <div class="email-body">
            <p>Hallo <%= user.name %>,</p>
            <p>Wir haben eine Anfrage zum Zurücksetzen deines Passworts für dein Mama Marketplace-Konto erhalten. Um mit dem Zurücksetzen des Passworts fortzufahren, verwende bitte den folgenden Code:</p>
            <div class="reset-code"><%= activationCode %></div>
            <p>Gib diesen Code innerhalb der nächsten 10 Minuten auf der Passwort-Zurücksetzen-Seite ein, um ein neues Passwort festzulegen.</p>
            <p>Falls du keine Passwort-Zurücksetzung angefordert hast, ignoriere bitte diese E-Mail oder kontaktiere sofort unser Support-Team, falls du glaubst, dass dein Konto möglicherweise gefährdet ist.</p>
            <p>Zu deiner Sicherheit teile diesen Code bitte mit niemandem.</p>
        </div>
        <div class="email-footer">
            <p>Wenn du Fragen hast oder Unterstützung benötigst, zögere bitte nicht, unser Support-Team unter <a href="mailto:support@mamamarketplace.com">support@mama-marketplace.ch</a> zu kontaktieren.</p>
            <p>&copy; 2025 Mama Marketplace. Alle Rechte vorbehalten.</p>
        </div>
        
    </div>
</body>
</html>